*{
    margin: 0;
    padding: 0;
}
img {
    width: 30%;
    image-resolution: 100%;
}
body {
    background-color: white;
}
h1 {
    color: salmon;
    font-family: 'Cambria';
    text-align: center;
    margin: 40px 30px;
}
h2 {
    color: salmon;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-style: dashed;
    border-width: 1.5px;
    border-color: black;
}
p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin: 30px auto;
    padding: 20px;
    width: 900px;
}
d1 {
    line-height: 30px;
}
dt {
    font-family: 'Cambria';
    background-color: salmon;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding: 5px;
}
dd {
    background-color:salmon;
    font-family: 'Cambri';
    font-size: 18px;
    text-indent: 40px;
    text-align: justify;
    width: 100%;
    height: 100%;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
    line-height: 30px;
    padding: 20px;
}
.kindofbeautyproduct {
    width: 500px;
    margin: 30px auto;
}
d1 img {
    background-color: salmon;
    width: 145px;
    /*border-top-left-radius: 50px;*/
    border-radius: 25px;
    float: left;
    /*margin-top: 10px;
    margin-right: 20px;*/
    margin: 10px 20px 10px 0px;
    padding: 10px;
}
.clear {
    clear: center;
}
.footer {
    margin-left: 100px;
    text-align: center;
}